.courses{
    width:100%;
    min-height:600px;
    margin-top: 50px;
    height:100%;
}
.courses .coursesCont{
    width:100%;
    /* background-color: aliceblue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.courses .coursesCont .courses-head{
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px
}
.courses .coursesCont .courses-head span{
    font-size: 50px;
    line-height: 50px;
    font-weight: 300;
}
.courses .coursesCont .courses-head h2{
    font-size: 69px;
    line-height: 69px;
    font-weight: 700;
}
.courses .coursesCont .courses-head p{
    font-size: 29px;
    line-height: 29px;
    font-weight: 300;
}
.courses .coursesCont .courses-cards{
    width:100%;
    min-height:300px;
    margin-top: 50px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap:30px
}
.courses .coursesCont .courses-cards .courses-card{
    text-align: center;
    width:300px;
    height:300px;
    background-color: #ffffff12;
    border-radius: 20px;
    padding: 27px 29px;
    display: flex;
    flex-direction: column;
    gap:20px
}
.courses .coursesCont .courses-cards .courses-card h3{
    margin-top: 30px;
    font-size: 25px;
    line-height: 25px;
}
.courses .coursesCont .courses-cards .courses-card ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap:10px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 16px;
}
.courses .coursesCont .courses-cards .courses-card ul li{
    display: flex;
    gap:5px;
    flex-direction: row;
}
.courses .coursesCont .courses-cards .courses-card ul li span{
    color: rgb(228, 181, 9);
}
.courses .coursesCont .courses-cards .courses-card ul li img{
    height:20px;
}
.courses .coursesCont .courses-cards .courses-card a{
    width: 100%;
    border-radius: 12px;
    margin-top:10px ;
    padding: 20px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 18px;
    font-weight: 550;
    text-decoration: none;
    justify-content: center;
    background-color: #ffffff05;
    border: 1px solid #ffffff14;
    backdrop-filter: blur(10px);
}
@media screen and (max-width:600px) {
    .courses .coursesCont .courses-head span{
        font-size: 30px;
        line-height: 30px;
        font-weight: 300;
    }
    .courses .coursesCont .courses-head h2{
        font-size: 49px;
        line-height: 49px;
        font-weight: 700;
    }
    .courses .coursesCont .courses-head p{
        font-size: 19px;
        line-height: 19px;
        font-weight: 300;
    }
}